/*colors */
$lightblue: #58e1c1;
$darkviolet: #777;
$diffrentlightblue: #51ddfc;
$white: #fff;
$orange: #e4757a;
$darkviolet: #927bc1;
$lightgreen: #63cc82;
$diffrentorange: #fd7856;

/*media query breakpoints*/
$sm: 768px;


