/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $diffrentlightblue;
  }
  
  .error {
    background-color: $orange;
  }
  
  .info {
    background-color: $darkviolet;
  }
  
  .success {
    background-color: $lightgreen;
  }
  
  .warning {
    background-color: $diffrentorange;
  }
  